[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bate"]
	path = bate
	url = https://github.com/dbasu-umass/bate
[submodule "clptheory"]
	path = clptheory
	url = https://github.com/dbasu-umass/clptheory
